

*,
*::before,
*::after {
    box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a, button {
    cursor: revert;
}

ol, ul, menu {
    list-style: none;
}


img {
    max-width: 100%;
}

table {
    border-collapse: collapse;
}


textarea {
    white-space: revert;
}

meter {
    -webkit-appearance: revert;
    appearance: revert;
}

::placeholder {
    color: unset;
}

:where([hidden]) {
    display: none;
}

:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
} 

:where([draggable="true"]) {
    -webkit-user-drag: element;
}