.main__aboutUs__wrapper {
    font-family: "Patrick Hand", cursive;
    background-position: center;
    background-size: cover;
    padding: 5rem 0 5rem 0;
  }
  
  .swiper-container {
    width: 100%;
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
  
  .swiper-slide {
    display: grid;
    text-align: center;
    padding: 1.5rem 1rem;
    border-radius: 10px;
    background: rgba(60, 156, 245, 0.08);
    width: 30.75rem;
    height: 30.75rem;
  }
  
  .swiper-slide img {
    display: block;
    width: 6rem;
    justify-self: center;
    border-radius: 50%;
    margin-top: 0.6rem;
  }
  
  h5 {
    font-family: "GFS Didot", serif;
    font-weight: bold;
    color: #292f33;
  }
  
  P {
    color: #141823;
  }
    

.img__linkedin  {
  width: 100%;
  }

  .img__github {
    width: 40%;
  }

  .links{
    display: grid;
    grid-template-columns: repeat( 2, 1fr);
    align-items: center;
    grid-template-columns: 20.33% 33.33% 33.33% 33.33%;
  }